src/main/app/webhook.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:context="http://www.springframework.org/schema/context" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="10005" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="API_GATEWAY" host="${api.host}" port="${api.port}" basePath="/" responseTimeout="30000" doc:name="HTTP Request Configuration" />
    <context:property-placeholder location="${mule.env}.properties"/>
    <http:request-config name="Slackwebhook" protocol="HTTPS" host="hooks.slack.com" port="443" basePath="/" doc:name="HTTP Request Configuration">
        <http:proxy host="${proxy.host}" port="80"/>
    </http:request-config>
    <http:request-config name="SlackAPI" protocol="HTTPS" host="slack.com" port="443" basePath="/api" doc:name="HTTP Request Configuration">
        <http:proxy host="${proxy.host}" port="80"/>
    </http:request-config>
    <db:mysql-config name="AMS_MySQL" host="${ams.db.host}" port="${ams.db.port}" user="${ams.db.username}" password="${ams.db.password}" database="${ams.db.database}" doc:name="MySQL Configuration">
        <reconnect-forever/>
    </db:mysql-config>
    
    
<flow name="slack_webhook">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/webhook" allowedMethods="GET, POST" doc:name="/webhook"/>
        <logger message="Received request from Slack: #[payload]" level="INFO" doc:name="Received request from Slack"/>
        <set-variable variableName="user_id" value="#[payload.user_id]" doc:name="Set user_id"/>
        <set-variable variableName="token" value="#[payload['token']!=null ? payload['token'] : '']" doc:name="Set token"/>
        <set-variable variableName="token_slack" value="${slack.token}" doc:name="Set token_slack"/>
        <set-variable variableName="command" value="#[payload['command']]" doc:name="Set command"/>
        <set-variable variableName="text" value="#[payload['text']]" doc:name="Set text"/>
        <set-variable variableName="response_url" value="#[payload['response_url']]" doc:name="Set response_url (in case longer than 3 seconds to generate response)"/>
        <set-variable variableName="response_url_path" value="#[flowVars.response_url.substring(flowVars.response_url.indexOf('commands'))]" doc:name="Set response_url_path"/>
        <choice doc:name="/avo , /mam or /ams ?">
            <when expression="#[flowVars.command.equals('/ams')]">
                <flow-ref name="ams_routing" doc:name="AMS Routing"/>
            </when>
            <when expression="#[flowVars.command.equals('/mam')]">
                <flow-ref name="mam_routing" doc:name="MAM Routing"/>
            </when>
            <otherwise>
                <flow-ref name="avo_routing" doc:name="AVO Routing"/>
            </otherwise>
        </choice>
    </flow>
</mule>
