src/main/app/webhook.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:context="http://www.springframework.org/schema/context" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="10005" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="API_GATEWAY" host="${api.host}" port="${api.port}" basePath="/" responseTimeout="30000" doc:name="HTTP Request Configuration" />
    <context:property-placeholder location="${mule.env}.properties"/>
    <http:request-config name="Slackwebhook" protocol="HTTPS" host="hooks.slack.com" port="443" basePath="/" doc:name="HTTP Request Configuration">
        <http:proxy host="${proxy.host}" port="80"/>
    </http:request-config>
<flow name="slack_webhook">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/webhook" allowedMethods="GET, POST" doc:name="/webhook"/>
        <logger message="Received request from Slack: #[payload]" level="INFO" doc:name="Received request from Slack"/>
        <set-variable variableName="token" value="#[payload['token']!=null ? payload['token'] : '']" doc:name="Set token"/>
        <set-variable variableName="token_slack" value="${slack.token}" doc:name="Set token_slack"/>
        <set-variable variableName="command" value="#[payload['command']]" doc:name="Set command"/>
        <set-variable variableName="text" value="#[payload['text']]" doc:name="Set text"/>
        <set-variable variableName="response_url" value="#[payload['response_url']]" doc:name="Set response_url (in case longer than 3 seconds to generate response)"/>
        <set-variable variableName="response_url_path" value="#[flowVars.response_url.substring(flowVars.response_url.indexOf('commands'))]" doc:name="Set response_url_path"/>
        <choice doc:name="/avo , /mam or /ams ?">
            <when expression="#[flowVars.command.equals('/ams')]">
                <flow-ref name="slackAMS" doc:name="slackAMS"/>
            </when>
            <when expression="#[flowVars.command.equals('/mam')]">
                <flow-ref name="slackMAM" doc:name="slackMAM"/>
            </when>
            <otherwise>
                <flow-ref name="slackAvO" doc:name="slackAvO"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="slackAvO">
        <choice doc:name="What's the text?">
            <when expression="#[flowVars.text=='registraties']">
                <logger message="registraties" level="INFO" doc:name="registraties"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "Let the fun begin."
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <when expression="#[flowVars.text=='plays']">
                <logger message="plays" level="INFO" doc:name="plays"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "Let the fun begin."
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <when expression="#[flowVars.text=='collecties']">
                <logger message="collecties" level="INFO" doc:name="collecties"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "Let the fun begin."
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <when expression="#[flowVars.text=='trefwoorden']">
                <logger message="trefwoorden" level="INFO" doc:name="trefwoorden"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "Let the fun begin."
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <when expression="#[flowVars.text=='users']">
                <logger message="Text: #[flowVars.text]" level="INFO" doc:name="users"/>
                <set-payload value="#[&quot;&quot;]" doc:name="Set Payload"/>
                <http:request config-ref="API_GATEWAY" path="/api/users/count" method="GET" doc:name="Request /api/users/count"/>
                <json:json-to-object-transformer  doc:name="JSON to Object"/>
                <set-variable variableName="administrator" value="#[payload.get('data').get('administrator').toString()]" doc:name="Set administrator"/>
                <set-variable variableName="content_beheerder" value="#[payload.get('data').get('Content beheerder').toString()]" doc:name="Set content_beheerder"/>
                <set-variable variableName="docent" value="#[payload.get('data').get('Docent').toString()]" doc:name="Set docent"/>
                <set-variable variableName="platform_beheerder" value="#[payload.get('data').get('Platform beheerder').toString()]" doc:name="Set platform_beheerder"/>
                <set-variable variableName="student" value="#[payload.get('data').get('Student').toString()]" doc:name="Set student"/>
                <set-variable variableName="testgebruiker_onderwijs" value="#[payload.get('data').get('Testgebruiker onderwijs').toString()]" doc:name="Set testgebruiker_onderwijs"/>
                <set-variable variableName="testgebruiker_viaa" value="#[payload.get('data').get('Testgebruiker viaa').toString()]" doc:name="Set testgebruiker_viaa"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "# docenten: " ++ flowVars.docent
			 ++ "\n# studenten: " ++ flowVars.student
			 ++ "\n# testgebruikers onderwijs: " ++ flowVars.testgebruiker_onderwijs
			 ++ "\n# testgebruikers viaa: " ++ flowVars.testgebruiker_viaa
			 ++ "\n# administrators: " ++ flowVars.administrator
			 ++ "\n# platform beheerders: " ++ flowVars.platform_beheerder
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <when expression="#[flowVars.text=='items']">
                <logger message="items" level="INFO" doc:name="items"/>
            </when>
            <otherwise>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "Unknown..."
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="slackMAM">
        <choice doc:name="What's the text?">
            <when expression="#[flowVars.text=='vrt']">
                <logger message="vrt" level="INFO" doc:name="vrt"/>
                <dw:transform-message doc:name="Answer fast">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "/mam vrt:"
}]]></dw:set-payload>
                </dw:transform-message>
                <async doc:name="Async">
                    <flow-ref name="RequestVRTDelay" doc:name="RequestVRTDelay"/>
                </async>
            </when>
            <when expression="#[flowVars.text=='items']">
                <logger message="items" level="INFO" doc:name="items"/>
                <http:request config-ref="API_GATEWAY" path="/api/report/global" method="GET" doc:name="Request /api/report/global"/>
                <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
                <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
                <set-variable variableName="items" value="#[payload.get('data').get('archived').get('total').get('amount').get('ok')]" doc:name="Set items"/>
                <set-variable variableName="petabytes" value="#[String.format(&quot;%.2f&quot;, (float) payload.get('data').get('archived').get('total').get('bytes').get('ok')/1024/1024/1024/1024/1024)]" doc:name="Set petabytes"/>
                <dw:transform-message doc:name="Build response">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "# items: " ++ flowVars.items ++ "\n# petabytes: " ++ flowVars.petabytes
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <when expression="#[flowVars.text.contains('vrt') &amp;&amp; flowVars.text.length()&gt;3]">
                <logger level="INFO" doc:name="vrt ID" message="vrt ID"/>
                <set-variable variableName="id" value="#[flowVars.text.substring(flowVars.text.lastIndexOf('vrt ')+4)]" doc:name="Set id (media_id or pid)"/>
                <http:request config-ref="API_GATEWAY" path="#['/api/vrt/' + flowVars.id]" method="GET" doc:name="Request /api/vrt/{id}"/>
                <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
                <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
                <set-variable variableName="pid" value="#[payload.get('data').get('pid') != null ? payload.get('data').get('pid').toString() : &quot;unknown&quot;]" doc:name="Set pid"/>
                <set-variable variableName="media_id" value="#[payload.get('data').get('media_id') != null ? payload.get('data').get('media_id').toString() : &quot;unknown&quot;]" doc:name="Set media_id"/>
                <set-variable variableName="status" value="#[payload.get('data').get('status') != null ? payload.get('data').get('status').toString() : &quot;unknown&quot;]" doc:name="Set status"/>
                <dw:transform-message doc:name="Build response">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "pid: " ++ flowVars.pid
			 ++ "\nmedia_id: " ++ flowVars.media_id
			 ++ "\nstatus: " ++ flowVars.status
}]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "Unknown..."
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
    </sub-flow>
    <flow name="RequestVRTDelay">
        <http:request config-ref="API_GATEWAY" path="/api/vrt/delay" method="GET" doc:name="Request /api/vrt/delay"/>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="gemiddelde_starttijd" value="#[payload.get('data').get('gemiddelde_starttijd')]" doc:name="Set gemiddelde_starttijd"/>
        <set-variable variableName="gemiddelde_duur" value="#[payload.get('data').get('gemiddelde_duur').get('value')]" doc:name="Set gemiddelde_duur"/>
        <dw:transform-message doc:name="Build response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "Gemiddelde duur overdracht VRT - VIAA archief: " ++ flowVars.gemiddelde_duur ++ "\nOpvraagtijd van laatste geïngeste item: " ++ flowVars.gemiddelde_starttijd
}]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer doc:name="Object to String"/>
        <http:request config-ref="Slackwebhook" path="#[flowVars.response_url_path]" method="POST" doc:name="Send response to response_url just in case it takes longer than 3sec"/>
    </flow>
    <sub-flow name="slackAMS">
        <dw:transform-message doc:name="Build response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"response_type": "in_channel",
	"text": "Coming soon!"
}]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>
</mule>
